@import "tailwindcss";
*{
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
nav{
  background-color: #1b38a100;
  color: rgb(232, 232, 232);
  transition: all ease-in-out .3s;
  z-index: 100;
}
nav.scrolled{
background: rgba(255, 255, 255, 0);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.9px);
-webkit-backdrop-filter: blur(9.9px);

}
.main{
  background: #00014e00;
}
nav h1{
  font-size: 1.5em;
  text-shadow:1px 1px 0px black;
}
span a{
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all .2s;
  text-shadow:1px 1px 0px black;
}
span a:hover{
  border-bottom: 1px solid #c7c8ff;
}
.home{
  background-image: url('../imgs/homebackground2.jpg');
  background-position:initial;
  background-repeat: no-repeat;
}
.home h1{
  color: white;
  font-size: 5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.home h3{
  font-size: 2em;
  color: rgb(211, 211, 211);
  font-family: monospace;
}
.linksHome a{
  background: none;
  color: white;
  /* border: 2px solid white; */
  border-radius: 25px;
  padding: 5px 15px 5px 15px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  cursor: pointer;
  transition: all .2s;
  font-weight: bold;
}
.linksHome a:hover{
  transform: scale(1.1);
  color: white;
}

.products {
  color: white;
  background: linear-gradient(#00014e, #363983);
}
.infoText{
  border-bottom: 1px solid #c7c8ff;
}
.infoText h1, .infoText p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.infoText h1{
  font-size: 2em;
}
.infoText p{
  font-size: 1em;
  color: #c7c8ff;
  padding-top: 5px;
}
.infProducts img{
  width: 150px;
  color: white;
}
.infProducts{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  background: rgba(0, 128, 0, 0);
  gap: 30px;
}
.spanGame{
  /* background-color: rgba(255, 0, 0, 0.537); */
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  background: rgba(42, 88, 201, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(42, 88, 201, 0.49);
}
.spanGame span{
  background: rgba(255, 255, 0, 0);
  display: flex;
  text-align: center;
  align-items: center;
}
.spanGame h1{
  font-size: 2.5em;
  color: white;
  background: rgba(0, 0, 255, 0);
  width: 90%;
  text-align: center;
  margin: auto;
}
.spanGame p{
  font-size: 1em;
}
.spanGame a{
  /* background: pink; */
  /* color: black; */
  width: 100px;
  text-align: center;
  border-radius: 15px;
  border: none;
}
.spanGame a:hover{
  border: none;
}
.about{
  border-radius: 0px 450px 0px 0px;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}
.infTextTop h1, .inftTextBottom h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3em;
  color: #363983;
  font-weight: bold;
}
.infTextTop p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
}
.spanLinkDesktop{
  display: flex;
}
.spanLinkMobile{
  display: none;
}
nav button{
  background: #363983;
  display: none;
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;
  width: 50px;
  height: 30px;
  border: 1px solid white;
}
@media(max-width:800px) {
  .infoText{
    margin-top: 15%;
    width: 90%;
  }
  .infoText h1{
    font-size: 1.5em;
  }
  .infoText p{
    font-size: 1em;
    color: #c7c8ff;
    padding-top: 5px;
  }
  .infoText h1, .infoText p{
    width: 100%;
  }
  nav button{
    display: block;
  }
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .spanLinkDesktop{
    display: none;
  }
  .spanLinkMobile{
    background: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-top: 120%;
    margin-left: 100%;
    padding-top: 20px;
    gap: 10px;
    transition: all ease-in-out .5s;
  }
  .spanLinkMobile.openModal{
    margin-left: 0%;
    
  }
  .spanLinkMobile a{
    background: rgba(255, 0, 0, 0);
    width: 100%;
    text-align: center;
    font-size: 22pt;
  }
  /* .spanGame p{
    display: none;
  } */
  .spanGame h1{
    font-size: 22pt;
    text-align: center;
  }
  .spanGame span{
    /* background: rgba(0, 128, 0, 0); */
    width: 100%;
    align-items: center;
    gap: 20px;
  }
  .spanGame{
    flex-direction: column;
    /* background: rgba(255, 0, 0, 0); */
    align-items: center;
  }
  .about h1{
    font-size: 16pt;
  }
  .infTextTop h1{
    margin-top: 120px;
  }
  /* .spanGame img{
    width: 100%;
    margin-top: 20px;
  } */
  .infProducts{
    gap: 20px;
  }
  .inftTextBottom img{
    width: 30px;
    height: 30px;
  }
  
}